@import "flatly/_variables";
@import "bootstrap";
@import "flatly/_bootswatch";

.input-group {
  margin-bottom: 20px;
}

.app-container {
  margin-top: 60px;
  padding: 20px;
}

.input-label {
  width: 5em;
}

.search-result-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 74px;
}

.search-result-body {
  display: flex;
}

.search-result-main {
  flex: 1 0 auto;
}

.search-result-sub {
  flex: 0 0 90px;
}

.distance {

}

// details
.restaurant-location {
  background: gray;
  height: 300px;
  width: 400px;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumb-wrapper {
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin: 0 10px 20px;
  min-width: 120px;
}


// overlay
.overlay {
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}

.photos-overlay {
  display: flex;
  flex-direction: column;

  .thumbs-container {
    flex: 0 0 120px;
    display: flex;
    justify-content: center;
  }

  .image-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;

    .main-image {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
    }

    .image-nav {
      color: white;
      flex: 0 0 30px;
      font-size: 30px;
      padding: 10px;
    }

    img {
      display: inline;
    }
  }
}

// stars
.stars {
  display: flex;

  .star {
    position: relative;
  }

  .star-fg {
    position: absolute;
    z-index: 2;
  }

  .star-half .star-fg {
    overflow: hidden;
    width: .45em;
  }

  .star-empty .star-fg {
    display: none;
  }


  .star-bg {
    color: #ddd;
  }
}
