@import "flatly/_variables";
@import "bootstrap";
@import "flatly/_bootswatch";

.input-group {
  margin-bottom: 20px;
}

.app-container {
  margin-top: 60px;
  padding: 20px;
}

.input-label {
  width: 5em;
}

.search-result-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 74px;
}

.search-result-body {
  display: flex;
}

.search-result-main {
  flex: 1 0 auto;
}

.search-result-sub {
  flex: 0 0 90px;
}

.distance {

}

// details
.restaurant-location {
  background: gray;
  height: 300px;
  width: 400px;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumb-wrapper {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin: 0 10px 20px;
  min-width: 120px;
}


// overlay
.overlay {
  background: black;
  opacity: .8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}
