<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Restaurant reviewer app</a>
  </div>
</nav>

<div class="app-container">
  {{outlet}}
</div>
