<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Restaurant reviewer app</a>
  </div>
</nav>

<div class="app-container">
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-filter"></span>
      <label for="keyword-input" class="input-label">Keyword</label>
    </span>
    <input id="keyword-input" type="text" class="form-control" placeholder="Chinese">
  </div>

  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-map-marker"></span>
      <label id="location-label"  class="input-label">Location</label>
    </span>
    <input id="location-input" type="text" class="form-control" placeholder="City, State OR ZipCode">
  </div>

  <button class="btn btn-primary btn-right">Search For Restaurants</button>

<!-- open now sort by distance, rating, price-->
<!-- min-price, max-price -->
<!-- google static map location for address, link to website, phone number etc... -->
<!-- https://developers.google.com/places/web-service/search -->
<!-- https://developers.google.com/places/web-service/details -->
<!-- https://developers.google.com/maps/documentation/javascript/reference#spherical -->
<!-- can probably use radar search, and list views, start with list -->
<!-- make sure to show attributions for photos -->
<hr />
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://placehold.it/64x64" alt="...">
    </a>
  </div>
  <div class="media-body">
    <!-- search result -->
    <div class="search-result">
      <div class="search-result-main">
        <h4 class="media-heading">Media heading <small>(open)</small></h4>
        <div class="rating">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
        </div>
        <!-- make more semantic -->
        <div class="address">48 Pirrama Rd, Pyrmont</div>
        <div class="keywords">Chinese, fusion</div>
      </div>
      <div class="search-result-sub">
        <div class="price">
          <span class="glyphicon glyphicon-usd"></span>
          <span class="glyphicon glyphicon-usd"></span>
          <span class="glyphicon glyphicon-usd"></span>
          <span class="glyphicon glyphicon-usd"></span>
          <span class="glyphicon glyphicon-usd"></span>
        </div>
        <div class="text-right">2.1 mi</div>
        <!-- https://developers.google.com/maps/documentation/javascript/reference#spherical -->
      </div>
    </div>
  </div>
  <hr />

  <!-- detail page -->
  <h1>Restaurant name <small>(open)</small></h1>
  <div class="restaurant-location"></div>
  <h3>Address</h3>
  <div>
    555 12th St. Suite 201<br />
    Radville, WA 99999
  </div>
  <div class="rating">
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
  </div>
  <div class="price">
    <span class="glyphicon glyphicon-usd"></span>
    <span class="glyphicon glyphicon-usd"></span>
    <span class="glyphicon glyphicon-usd"></span>
    <span class="glyphicon glyphicon-usd"></span>
    <span class="glyphicon glyphicon-usd"></span>
  </div>
  <h3>Contact</h3>
  <div>
    <p>phone: <a href="">1-888-122-5555</a></p>
    <p>website: <a href="http://rad.com">View Website</a></p>
  </div>
  <h3>Hours</h3>
  <div>
    <p><b>Mon</b> 9:00am - 6:00PM</p>
    <p><b>Mon</b> 9:00am - 6:00PM</p>
    <p><b>Mon</b> 9:00am - 6:00PM</p>
    <p><b>Mon</b> 9:00am - 6:00PM</p>
    <p><b>Mon</b> 9:00am - 6:00PM</p>
    <p><b>Mon</b> 9:00am - 6:00PM</p>
    <p><b>Mon</b> 9:00am - 6:00PM</p>
  </div>
  <h2>Photos</h2>
  <div>
    <img src="http://placehold.it/100x100" alt="...">
    <img src="http://placehold.it/100x100" alt="...">
    <img src="http://placehold.it/100x100" alt="...">
    <img src="http://placehold.it/100x100" alt="...">
    <img src="http://placehold.it/100x100" alt="...">
    <img src="http://placehold.it/100x100" alt="...">
  </div>
  <h2>Reviews</h2>
  <div class="reviews">
    <div class="review media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="http://placehold.it/64x64" alt="...">
        </a>
      </div>
      <div class="media-body">
        <div>Cool Username - 12/12/2015</div>
        <div class="rating">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
        </div>
        <p>Review Review Review Review Review Review Review Review Review Review Review Review Review Review Review Review Review Review </p>
      </div>
    </div>
    <hr />
    <button class="btn btn-primary">Leave a Review</button>
  </div>
</div>


  {{outlet}}
</div>
