<!-- detail page -->
<h1>Restaurant name <small>(open)</small></h1>
<div class="restaurant-location"></div>
<h3>Address</h3>
<div>
  555 12th St. Suite 201<br />
  Radville, WA 99999
</div>
<div class="rating">
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
</div>
<div class="price">
  <span class="glyphicon glyphicon-usd"></span>
  <span class="glyphicon glyphicon-usd"></span>
  <span class="glyphicon glyphicon-usd"></span>
  <span class="glyphicon glyphicon-usd"></span>
  <span class="glyphicon glyphicon-usd"></span>
</div>
<h3>Contact</h3>
<div>
  <p>phone: <a href="">1-888-122-5555</a></p>
  <p>website: <a href="http://rad.com">View Website</a></p>
</div>
<h3>Hours</h3>
<div>
  <p><b>Mon</b> 9:00am - 6:00PM</p>
  <p><b>Mon</b> 9:00am - 6:00PM</p>
  <p><b>Mon</b> 9:00am - 6:00PM</p>
  <p><b>Mon</b> 9:00am - 6:00PM</p>
  <p><b>Mon</b> 9:00am - 6:00PM</p>
  <p><b>Mon</b> 9:00am - 6:00PM</p>
  <p><b>Mon</b> 9:00am - 6:00PM</p>
</div>
<h2>Photos</h2>
<div>
  <img src="http://placehold.it/100x100" alt="...">
  <img src="http://placehold.it/100x100" alt="...">
  <img src="http://placehold.it/100x100" alt="...">
  <img src="http://placehold.it/100x100" alt="...">
  <img src="http://placehold.it/100x100" alt="...">
  <img src="http://placehold.it/100x100" alt="...">
</div>
<h2>Reviews</h2>
<div class="reviews">
  <div class="review media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="http://placehold.it/64x64" alt="...">
      </a>
    </div>
    <div class="media-body">
      <div>Cool Username - 12/12/2015</div>
      <div class="rating">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </div>
      <p>Review Review Review Review Review Review Review Review Review Review Review Review Review Review Review Review Review Review </p>
    </div>
  </div>
  <hr />
  <button class="btn btn-primary">Leave a Review</button>
</div>
{{outlet}}
